

mixin abroadServices (name, country, description, url, price)
    .item.inline-layout
       .overflow-text
            h4
                a(href= url)= name
            .country= country
            .price= price
            .description= description
            a.readmore(href= url ) Подробнее о вакансии >
       .price= price
.work_services_text
    include ./block_country_services.jade
    .mobile_filter
        include ./filter.jade
    .work_abroad_services_text
        h3 Горячие вакансии
        +abroadServices(
        'Рабочие на склад интерет магазина Eobuwie',
        'EOBUWIE * Польша, Зелёна-Гура',
        'На постоянную работу, на склад интернет-магазина EOBUWIE, требуются Мужчины. Подробную информацию о компании можно найти на официальном сайте — www.eobuwie.com.pl.',
        'vacancies.html',
        'зп 18000 грн'
        )
        +abroadServices(
        'Рабочие на склад интерет магазина Eobuwie',
        'EOBUWIE * Польша, Зелёна-Гура',
        'На постоянную работу, на склад интернет-магазина EOBUWIE, требуются Мужчины. Подробную информацию о компании можно найти на официальном сайте — www.eobuwie.com.pl.',
        'vacancies.html',
        'зп 18000 грн'
        )
        +abroadServices(
        'Рабочие на склад интерет магазина Eobuwie',
        'EOBUWIE * Польша, Зелёна-Гура',
        'На постоянную работу, на склад интернет-магазина EOBUWIE, требуются Мужчины. Подробную информацию о компании можно найти на официальном сайте — www.eobuwie.com.pl.',
        'vacancies.html',
        'зп 18000 грн'
        )
        +abroadServices(
        'Рабочие на склад интерет магазина Eobuwie',
        'EOBUWIE * Польша, Зелёна-Гура',
        'На постоянную работу, на склад интернет-магазина EOBUWIE, требуются Мужчины. Подробную информацию о компании можно найти на официальном сайте — www.eobuwie.com.pl.',
        'vacancies.html',
        'зп 18000 грн'
        )
        +abroadServices(
        'Рабочие на склад интерет магазина Eobuwie',
        'EOBUWIE * Польша, Зелёна-Гура',
        'На постоянную работу, на склад интернет-магазина EOBUWIE, требуются Мужчины. Подробную информацию о компании можно найти на официальном сайте — www.eobuwie.com.pl.',
        'vacancies.html',
        'зп 18000 грн'
        )
        .pagination
            a.black_button(href="#") Показать еще 10 вакансий